root = true

[**/build.gradle.ktx]
ktlint = disabled

[*.{kt,kts}]
ktlint_standard_filename = disabled
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_function-naming = disabled
ktlint_function_naming_ignore_when_annotated_with=Composable
trailing-comma-on-call-site=disable
ij_kotlin_allow_trailing_comma=false
ij_kotlin_allow_trailing_comma_on_call_site=false
insert_final_newline=false
ktlint_standard_final-newline=disable